body {
  margin: 0;
  background: black;
  height: 1080px;
}

.main {
  display: block;
  margin: 12px;
  background: rgba(19, 20, 31, 1);
  height: 1896px;
  width: 100%;

}

 .title {
  margin-top: 12px;
  margin-bottom: 0px;
  height: 54px;
  width: 100%;
  font-family: BT Beau Sans;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
background: black ;
 }

 .tabss {
  margin-top: 24px;
 }

 .summary-info {
  margin-top: 24px;
 }